<html>
<head>
    <!-- META -->
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>Node/Angular Todo App</title>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <table border="1">
        <tr>
            <th>id</th>
            <th>prodname</th>
            <th>price</th>
            <th>QTY</th>
            <th>Color</th>
            <th>Image</th>
            <th>Category</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tr ng-repeat="prod in products track by prod._id">
            <td>{{ prod.prodid }}</td>
            <td>{{prod.prodname}}</td>
            <td>{{ prod.prodprice }}</td>
            <td>{{ prod.prodqty }}</td>
            <td>{{ prod.prodcolor }}</td>
            <td>{{ prod.prodimg.name }}</td>
            <td>{{prod.cateid.toString()}}</td>
            <td>
                <button ng-click="deleteProduct(prod._id)" name="delete">Delete</button></td>
              <td>  <button ng-click="editProduct(prod._id)" name="Edit">Edit</button>
            </td>
        </tr>
    </table>
    <table border="1">
        <tr>
            <th>id</th>
            <th>prodname</th>
        </tr>
        <tr ng-repeat="prod in categories track by prod._id">
            <td>{{ prod.cateid }}</td>
            <td>{{prod.catename}}</td>
        </tr>
    </table>
    <div>
        <form enctype="multipart/form-data" method="post">

            <input type="text" placeholder="product id" ng-model="newproduct.prodid" name="prodid" >
            <br/><input type="text" placeholder="product name" ng-model="newproduct.prodname" name="prodname">
            <br/><input type="text" placeholder="product price" ng-model="newproduct.prodprice" name="prodprice">
            <br/><input type="text" placeholder="product qty" ng-model="newproduct.prodqty" name="prodqty">
            <br/><input type="text" placeholder="product color" ng-model="newproduct.prodcolor" name="prodcolor">
            <br/>
            <!--<input-->
                    <!--type="file"-->
                    <!--ngf-select-->
                    <!--ng-model="newproduct.prodimg"-->
                    <!--name="prodimg"-->
                    <!--ngf-pattern="'image/*'"-->
                    <!--accept="image/*"-->
                    <!--ngf-max-size="20MB"-->
            <!--/>-->
            <br/>
            <select name="category" ng-model="newproduct.category" >
                <option ng-repeat="cate in categories" value="{{cate._id}}">{{cate.catename}} </option>
            </select>

            <h2>  {{newproduct.catename}} </h2>
            <button type="submit" ng-click="createProduct()">Add</button>
            <button type="submit" ng-click="updateProduct()">Update</button>
        </form>
    </div>


</div>
<script src="core.js"></script>
<!--<script src="ng-file-upload-shim.min.js"></script> &lt;!&ndash; for no html5 browsers support &ndash;&gt;-->
<!--<script src="ng-file-upload.min.js"></script>-->

</body>
</html>