<div style="padding:50px;">
    <center>
        <div style="width: 300px; height: 250px " ng-controller="LoginController">
            <h1>Login </h1>
    <form>
        <input type="text" ng-model="username" placeholder="Enter Username" class="form-control"><br/>
        <input type="text" ng-model="password" placeholder="Enter Password" class="form-control"><br/>
        <input type="button" value="Login" class="btn" ng-click="login()">
    </form>
        </div>
    </center>
</div>