<div ng-controller="stateController">

    <div class="col-sm-12">
        <div class="form-group">

            <button type="button" ng-click="showForm2()" class="btn btn-success btn-lg">Add Profile</button>
        </div>
    </div>


    <form class="form-inline" style="padding-left: 27px;padding-top: 10px">
        <div class="form-group">
            <label>Search : </label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
    <hr/>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Profile Table
            </div>
            <div class="card-block">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th ng-click="sort('name')">Name </th>
                        <th ng-click="sort('email')">Email</th>
                        <th ng-click="sort('gender')">Gender</th>
                        <th ng-click="sort('dob')">DOB</th>
                        <!--<th ng-click="sort('stateid')">State</th>-->
                        <!--<th ng-click="sort('cityid')">City</th>-->
                        <th ng-click="sort('profileimg')">Profile</th>
                        <th ng-click="sort('status')">Status</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="pro in profiles|orderBy:sortKey:reverse|filter:search|itemsPerPage:4">
                        <td>{{pro.name}}</td>
                        <td>{{pro.email}}</td>
                        <td>{{pro.gender}}</td>
                        <td>{{pro.dob}}</td>
                        <!--<td>{{pro.stateid.valueOf(pro.stateid)}}</td>-->
                        <!--<td>{{pro.cityid}}</td>-->
                        <td> <img src="../uploads/{{pro.profileimg}}" width="50px" height="50px"/> </td>
                        <td>{{pro.status}}</td>
                        <td> <button type="button"  ng-click="showForm1(pro._id)" class="btn btn-danger active"> Delete</button> </td>
                        <td><button type="button" class="btn btn-primary active" ng-click="showForm(pro._id)">Edit </button> </td>
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="2" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    </div>
</div>